<h2 align = "center"> Post Rating </h2> 
<table border ="0" width = "30%" height = "50%" align= 'center'>
<tr>
<%= form_tag :action => 'create_post' do %>
<td><p>Enter your post:
   <%= text_area_tag 'user_post' , @post %></p>
</td>
</tr>
<tr>
<td>
<%= submit_tag 'Post' %>
</td>
</tr>

<% end %>
</table>
